<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>Login Page</title>
</head>
<style>
*{
    margin:0;
    padding:0;
    font-family: sans-serif;

}
body{
    background-color: #d6e0f0;
}
button{
    outline:none;
}
.hero{
    height:100%;
    width:100%;
}
.form-box{
    width:500px;
    height:650px;
    position:relative;
    margin:6% auto;
    background:#fff;
    padding:5px;
    overflow: hidden;
    border-radius: 20px;;
}
.button-box{
    width:225px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #d6e0f0;
    border-radius: 30px;
}
.toggle-btn{
    padding:10px 30px;
    cursor:pointer;
    background:transparent;
    border:0;
    outline:none;
    position:relative;
    font-size:1rem;

}
#btn{
    top:0;
    left:0;
    position: absolute;
    width:110px;
    height:100%;
    background:#251f44;
    border-radius:30px;
    transition:.5s;
    color:white;
}
.input-group{
    top:180px;
    position:absolute;
    width:280px;
    transition:.5s
}
.inputField{
    width: 100%;
    padding:20px 0px;
    font-size:1.2rem;
    margin: 5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom:1px solid #999;
    outline:none;
    background:ransparent;
}
.submit-btn{
    width:85%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    margin-top:20px;
    background:#251f44;
    border:0;
    outline:none;
    border-radius:30px;
    font-size:1.2rem;
    color:white;

}
#login{
    left:110px;
}
#register{
    left:520px;
}
#togLog{
    color:white
}
#submitbut:disabled{
    background-color:#776d8a;
    color:#ececec
}
</style>
<body>
    <div class="hero">
        <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" id='togLog' onclick="login()" style="outline: none;">LogIn</button>
            <button type="button" class="toggle-btn" id='togReg' onclick="register()" style="outline: none;">Register</button>
        </div>
        <form action="/login" method="POST" id="login" class="input-group">
            <input type="text" class="inputField" placeholder="Username" name='username' required autocomplete="off">
            <input type="password" class="inputField" placeholder="Password" name='password' required autocomplete="off">
            <%if(!cond){%>
                <p style="color:red; display: block; margin:auto">Invalid Credentials</p>
            <%}%>
            <button type='submit' class="submit-btn" style="outline: none;">Log In</button>
        </form>
        <form action="/register" method="POST" id="register" class="input-group" style="top:90px">
            <!-- <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a> -->
            <input id='username'  type="text" data-toggle="popover" data-container="body"   tabindex="0" class="inputField"  placeholder="Username" name='username' required autocomplete="off">
            <input id="email" type="email" class="inputField" data-toggle="popover" data-container="body"   tabindex="0" placeholder="Email" name='email' required autocomplete="off">
            <input type="password" class="inputField" placeholder="Password" name='password' required>
            <textarea name="address" class="inputField" id="" name="address" cols="30" rows="2" placeholder="Occupational Address"></textarea>
            <select name="type" id="" class="inputField">
                <option value="seller">Seller</option>
                <option value="buyer">Buyer</option>
            </select>
            <button type='submit' class="submit-btn" id='submitbut' style="outline: none;">Register</button>
        </form>
    </div>
    </div>
</body>
<!-- <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script> -->
<script>
function suggestUsername(fn){
    arr=["Arrow","Assassin","Avenger",
"Blaze",
"Bodhi",
"Bolt",
"Boss",
"Captain",
"Crimson",
"Cyborg",
"Dark",
"Death",
"Demon",
"Destruction",
"Doom",
"Doctor",
"Dragon",
"Enigma",
"Fallen",
"Fate",
"Flame",
"Frozen",
"Ghost",
"Great",
"Infinite",
"Immortal",
"Killer",
"Knight",
"Lightning",
"Mist",
"Micro",
"Neo",
"Nightmare",
"Ninja",
"Outlaw",
"Prime",
"Realm",
"Seeker",
"Shadow",
"Silver",
"Sinister",
"Slayer",
"Sniper",
"Trinity",
"Zephyr"]
s1=(fn+Math.round(Math.random()*1000));
s2=(fn+arr[Math.round(Math.random()*45)]);
if(s1.length<8){
  s1=s1+arr[Math.round(Math.random()*45)];
}
if(s2.length<8){
  s2=s2+Math.round(Math.random()*1000)+arr[Math.round(Math.random()*45)];
}
    return [s1,s2];
  }   
    const xhr =new XMLHttpRequest();

    $('#username').popover({
        trigger:'keyup',
        title:"Username status",
    })
    $('#email').popover({
        trigger:'keyup',
        title:'Email Status',
    })
    $('#username').keyup(function(){
        
        input=($('#username').val());
        xhr.open('GET','/detailsUser');
        xhr.responseType='json';
        xhr.onload=()=>{
            var cond=false;
            data=xhr.response
            for(var i=0;i<data.length;i++){
                if(input.length<8){
                    cond=false;
                    suggest=suggestUsername(input);
                    $('#username').attr('data-original-title','Username is short')
                    $('#username').attr('data-content','Username shd atleast have 8 char Some suggestions : '+suggest)
                    $('#username').popover('show');
                    
                }
                else{
                    if(data[i].username===input){
                    cond=false;
                    suggest=suggestUsername(input);
                    $('#username').attr('data-original-title','Username Already taken')
                    $('#username').attr('data-content','Some suggestions : '+suggest)
                    $('#username').popover('show');
                    break;
                }
                else{
                    cond=true
                    $('#username').attr('data-original-title','Username Available')
                    $('#username').attr('data-content','')
                    $('#username').popover('show');
                }
                }
                
            }
            if(!cond){
            $('#submitbut').prop('disabled',true)
        }
        else{
            $('#submitbut').prop('disabled',false)
        }

        }
        xhr.send();
    })
    $('#email').keyup(function(){
        input=$('#email').val();
        xhr.open('GET','/detailsUser');
        xhr.responseType='json';
        xhr.onload=()=>{
            data=xhr.response;
            for(var i=0;i<data.length;i++){
                if(!(input.includes('.') && input.includes('@'))){
                    cond=false
                    $('#email').attr('data-original-title','invalid Email')
                    $('#email').popover('show');
                }
                else{
                    if(data[i].email===input){
                    cond=false
                    $('#email').attr('data-original-title','Email Already Registered')
                    $('#email').popover('show');
                    break;
                }
                else{
                    cond=true
                    $('#email').attr('data-original-title','Email Vaild')
                    $('#email').popover('show');
                }
                }
            }
            if(!cond){
                $('#submitbut').prop('disabled',true)
            }
            else{
                $('#submitbut').prop('disabled',false)
            }
        }
        xhr.send()
        
    })
    logIn=document.getElementById('login');
    reg=document.getElementById('register');
    button=document.getElementById('btn');
    function register(){
        logIn.style.left="-400px";
        reg.style.left="110px";
        button.style.left="115px";
        document.getElementById('togLog').style.color='black';
        document.getElementById('togReg').style.color='white';

    }
    function login(){
        logIn.style.left="110px";
        reg.style.left="520px";
        button.style.left="0";
        document.getElementById('togLog').style.color='white';
        document.getElementById('togReg').style.color='black';
    }
</script>
</html>