*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* font-family: 'Work Sans', sans-serif; */
    }
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .card{
    padding-right: 15px;
    padding-left: 15px
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    /* background-color: #fff; */
    background-color: #f1f3f8;

  }
  
  body{
    background: #fff;
  }
  div{
    transition:0.6s;
  }
  
  .wrap .header{
    z-index: 1;
    background: #22242A;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
  }
  
  .wrap .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .wrap .header .header-menu .title{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .wrap .header .header-menu .title span{
    color: #4CCEE8;
  }
  
  .wrap .header .header-menu .sidebar-btn{
    color: #fff;
    position: absolute;
    margin-left: 240px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }
  
  .wrap .header .header-menu .sidebar-btn:hover{
    color: #4CCEE8;
  }
  
  .wrap .header .header-menu ul{
    display: flex;
  }
  
  .wrap .header .header-menu ul li a{
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
  }
  
  .wrap .header .header-menu ul li a:hover{
    background: #4CCEE8;
    color: #fff;
  }
  
  .wrap .sidebar{
    z-index: 1;
    background: #2F323A;
    position: fixed;
    top: 70px;
    width: 250px;
    height: calc(100%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
  }
  
  .wrap .sidebar .sidebar-menu{
    overflow: hidden;
  }
  
  .wrap .sidebar .sidebar-menu .profile img{
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .wrap .sidebar .sidebar-menu .profile p{
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .wrap .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
    border-bottom: 1px solid black;
  }
  
  .wrap .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
    text-decoration:none;
  }
  
  .wrap .sidebar .sidebar-menu .item .menu-btn:hover{
    color: #4CCEE8;
  }
  
  .wrap .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
  }
  
  .wrap .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
  }
  
  .wrap .sidebar .sidebar-menu .item .sub-menu{
    background: #3498DB;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background, max-height;
  }
  
  .wrap .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    transition: 0.3s;
    transition-property: background;
  }
  
  .wrap .sidebar .sidebar-menu .item .sub-menu a:hover{
    background: #55B1F0;
  }
  
  .wrap .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
    border-bottom: 1px solid #8FC5E9;
  }
  
  .wrap .sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
  }
  
  .wrap .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
  }
  
  .wrap .main-container{
    width: (100% - 250px);
    margin-top: 70px;
    margin-left: 250px;
    padding: 40px;
    min-height: 90vh;
    transition: 0.3s;
  }
  
  .wrap.coll .sidebar{
    width: 70px;
    height: 100%;
  }
  
  .wrap.coll .sidebar .profile img,
  .wrap.coll .sidebar .profile p,
  .wrap.coll .sidebar a span{
    display: none;
  }
  
  .wrap.coll .sidebar .sidebar-menu .item .menu-btn{
    font-size: 23px;
  }
  
  .wrap.coll .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
  }
  
  .wrap.coll .main-container{
    width: calc(100% - 70px);
    margin-left: 70px;
  }
  
  .wrap .main-container .card{
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .main-container{
    background-color:white;
  }
  .sidebar{
    background-color: #dddddd;
  }
  #sellSec{
    font-family: 'PT Sans', sans-serif;
    width:75%;
  }
  a{
    color: inherit; 
  text-decoration: inherit
  }
  body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3.8px solid #00B4CC;
    border-right: none;
    padding: 7.5px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #212529;
  }
  
  .searchButton {
    width: 40px;
    height: 41px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .wrapper{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  #searchHints{
    width:290px;
    position:absolute;
    z-index:100;
    left:75%;
    top:7%;
    position:fixed;
  }
  .result:hover{
    background-color: #dddddd;
    cursor: pointer;
  }
  canvas{

    width:900px !important;
    height:500px !important;
    margin:auto !important;
    margin-top: 5% !important;

  }
  .hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}