*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* font-family: 'Work Sans', sans-serif; */
    }
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .card{
    padding-right: 15px;
    padding-left: 15px
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
  
  body{
    background: #fff;
  }
  div{
    transition:0.6s;
  }
  
  .wrap .header{
    z-index: 1;
    background: #22242A;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
  }
  
  .wrap .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .wrap .header .header-menu .title{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .wrap .header .header-menu .title span{
    color: #4CCEE8;
  }
  
  .wrap .header .header-menu .sidebar-btn{
    color: #fff;
    position: absolute;
    margin-left: 240px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }
  
  .wrap .header .header-menu .sidebar-btn:hover{
    color: #4CCEE8;
  }
  
  .wrap .header .header-menu ul{
    display: flex;
  }
  
  .wrap .header .header-menu ul li a{
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
  }
  
  .wrap .header .header-menu ul li a:hover{
    background: #4CCEE8;
    color: #fff;
  }
  
  .wrap .sidebar{
    z-index: 1;
    background: #2F323A;
    position: fixed;
    top: 70px;
    width: 250px;
    height: calc(100%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
  }
  
  .wrap .sidebar .sidebar-menu{
    overflow: hidden;
  }
  
  .wrap .sidebar .sidebar-menu .profile img{
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .wrap .sidebar .sidebar-menu .profile p{
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .wrap .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
    border-bottom: 1px solid black;
  }
  
  .wrap .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
    text-decoration:none;
  }
  
  .wrap .sidebar .sidebar-menu .item .menu-btn:hover{
    color: #4CCEE8;
  }
  
  .wrap .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
  }
  
  .wrap .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
  }
  
  .wrap .sidebar .sidebar-menu .item .sub-menu{
    background: #3498DB;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background, max-height;
  }
  
  .wrap .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    transition: 0.3s;
    transition-property: background;
  }
  
  .wrap .sidebar .sidebar-menu .item .sub-menu a:hover{
    background: #55B1F0;
  }
  
  .wrap .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
    border-bottom: 1px solid #8FC5E9;
  }
  
  .wrap .sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
  }
  
  .wrap .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
  }
  
  .wrap .main-container{
    width: (100% - 250px);
    margin-top: 70px;
    margin-left: 250px;
    padding: 40px;
    height: 100vh;
    transition: 0.3s;
  }
  
  .wrap.coll .sidebar{
    width: 70px;
    height: 100%;
  }
  
  .wrap.coll .sidebar .profile img,
  .wrap.coll .sidebar .profile p,
  .wrap.coll .sidebar a span{
    display: none;
  }
  
  .wrap.coll .sidebar .sidebar-menu .item .menu-btn{
    font-size: 23px;
  }
  
  .wrap.coll .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
  }
  
  .wrap.coll .main-container{
    width: calc(100% - 70px);
    margin-left: 70px;
  }
  
  .wrap .main-container .card{
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .main-container{
    background-color:white;
  }
  .sidebar{
    background-color: #dddddd;
  }
  #sellSec{
    font-family: 'PT Sans', sans-serif;
    width:75%;
  }
  a{
    color: inherit; 
  text-decoration: inherit
  }